{% extends 'base.html' %}
{% block content %}
      <section class="about-sec bg-light">
          <div class="container">
            <h1 class="pt-5"><center>About Us</center></h1>
            <hr />
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div>
                  <h3 class="sub pb-20">Institute of Electronics And Electrical Engineers - UET Lahore</h3>
                  <p class="pb-20">
                    The IEEE Student Branch at UET, Lahore was established in 1982 and regularly arranges technical activities and workshop to help student in their professional growth.The branch members learn valuable technical, management, communication and leadership skill by arranging a variety of events.
                  </p>
                  <h4>Vision</h4>
                  <p>
                    The student branch is committed to provide excellent opportunities of professional development for the students of UET to help grow their technical, and professional skills. That is to say, that apart from gaining the usual technological knowledge, special consideration is given to the professional nourishment of the members, by making them arrange events and manage projects, both technical and non-technical. .
                    To formalize the process, the IEEE, student branch has also laid foundation of a number of committees to facilitate the branch administration and its operation.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
        </section>

{% endblock %}
