{% extends 'base.html' %}
{% block content %}
  <main class="signup bg-light">
    <section>
      <div class="container">
        <h1 class="pt-5"><center>Login</center></h1>
        <hr />
        <div class="container">
                   {% if error %}
                   {{ error }}
                   <br />
                   {% endif %}
                     <form method="POST" action="{% url 'login' %}" class="login-form" id="login-form">
                       {% csrf_token %}
                       <div class="row justify-content-center align-items-center">
                         Email:
                             <label for="email"><i class="zmdi zmdi-email"></i></label>
                             &nbsp;
                             <input type="email" name="email" id="email" placeholder="Your Email"/>
                         &nbsp;
                         Password:
                             <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                             &nbsp;
                             <input type="password" name="password" id="password" placeholder="Password"/>
                          </div>
                         <br />
                         <div class="row justify-content-center align-items-center">
                             <input class="btn btn-primary btn-center" type="submit" name="login" id="login" class="form-submit" value="Login"/>
                        </div>
                     </form>
             </div>
         </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   </main>
{% endblock %}
