{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
        <span class="breadcrumb-item active">Login</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>My Account / Login</h1>
        {% if error %}
        {{ error }}
        <br />
        {% endif %}
        <div class="form">
            <form action="login" method="POST">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-5">
                        <input type="email" name="email" id="email" placeholder="Your Email" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-5">
                        <input type="password" name="password" id="password" placeholder="Password" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <button type="submit" class="btn black"" href="{% url 'home' %}">Login</button>
                        <h5>not Registered? <a href="{% url 'signup' %}">Register here</a></h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
