{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
        <span class="breadcrumb-item active">Register</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>My Account / Register</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
        {% if error %}
        {{ error }}
        <br />
        {% endif %}
        <div class="form">
            <form action="signup" method="POST">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="first_name" placeholder="First Name" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="last_name" placeholder="Last Name" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="email" name="email" placeholder="Your Email" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="password" name="pass" placeholder="Password" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="password" name="re_pass" placeholder="Confirm Password" required />
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <button type="submit" class="btn black" href="{% url 'home' %}">Register</button>
                        <h5>Already Registered? <a href="{% url 'login' %}">Login here</a></h5>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
