<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <title>IEEE SIGHT LIBRARY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#03a6f3">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  </style>
</head>

<body>
  <header>
    <div class="header-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="https://www.ieeeuet.org.pk/" target="_blank"><img src="{% static 'IEEE Logo.jpeg' %}" height = "70" width = "100"> IEEE SIGHT LIBRARY</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-item nav-link" href="">Shop</a>
              <a class="nav-item nav-link" href="{% url 'aboutpage' %}">About</a>
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
              <form id="logout" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden" />
              </form>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
              {% endif %}
              <div class="cart my-2 my-lg-0">
                <span>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                  <span class="quantity">3</span>
                </div>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <span class="fa fa-search"></span>
                </form>
          </nav>
    </div>
  </header>
  {% block content %}
  {% endblock %}

        <footer class="footer-area section-gap ">
            <div class="footer">
                <div class="container">
        					<div class="row">
        						<div class="col-lg-5 col-md-4 col-sm-4">
        							<div class="single-footer-widget">
        								<h6>Contact Us</h6>
        								<p>
        									Office: Ground Floor, Electrical Engineering Department, UET Lahore<br>
        									Email: ieee@uet.edu.pk<br>
        									Phone: (+92) 312 4325655
        								</p>
        							</div>
        						</div>
        						<div class="col-lg-4  col-md-4 col-sm-4">
        							<div class="single-footer-widget">
        								<h6>Timings</h6>
                        <p>Mon - Fri: 7am - 10pm</p>
                        <p>​​Saturday: 8am - 10pm</p>
                        <p>​Sunday: 8am - 11pm</p>
        							</div>
        						</div>
        						<div class="col-lg-3 col-md-4 col-sm-4">
        							<h6>Find us on Facebook</h6>
        							<a href="https://www.facebook.com/ieeeuet/" target="_blank"><p>IEEE UET</p></a>
        							<h6>Find us on Instagram</h6>
        							<a href="https://www.instagram.com/ieee_uet/?hl=en" target="_blank"><p>IEEE UET</p></a>
        						</div>
        					</div>
                </div>
              </div>
        		</footer>
              <!-- JS, Popper.js, and jQuery -->
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          </body>

          </html>
