{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'IEEE Logo.png' %}" height=80 width=80 alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item">
                                <a href="{% url 'home' %}" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="{% url 'shop' %}" class="nav-link">Library</a>
                            </li>
                            <li class="navbar-item">
                                <a href="{% url 'aboutpage' %}" class="nav-link">About</a>
                            </li>
                            {% if user.is_authenticated  %}
                            <li class="navbar-item">
                            Hello, {{ user.first_name }}
                            </li>
                            <li class="navbar-item">
                                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                            </li>
                            {% else %}
                            <li class="navbar-item">
                                <a href="{% url 'login' %}" class="nav-link">Login</a>
                            </li>
                            <li class="navbar-item">
                                <a href="{% url 'signup' %}" class="nav-link">Signup</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="cart my-2 my-lg-0">
                            <span>
                                <a href="{% url 'cartname' %}" class="nav-link">Cart</a></span>
                            <span class="quntity">{{ cartnum }}</span>
                        </div>
                        <form type="get" action="{% url 'search' %}" style="margin: 0">
                            <input type="text" name="searchitem"  placeholder="Search..." >
                            <button id="search_submit" type="submit" >Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
  {% block content %}
  {% endblock %}
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="address">
                      <h4>Our Address</h4>
                      <h6>Office: Ground Floor, Electrical Engineering Department, UET Lahore</h6>
                      <h6>Phone: (+92) 312 4325655</h6>
                      <h6>Email: ieee@uet.edu.pk</h6>
                  </div>
                  <div class="timing">
                      <h4>Timing</h4>
                      <h6>Mon - Thu: 8am - 4pm</h6>
                      <h6>​​Friday: 8am - 12pm</h6>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="navigation">
                      <h4>Navigation</h4>
                      <ul>
                          <li><a href="{% url 'home' %}">Home</a></li>
                          <li><a href="{% url 'books' %}">All Books</a></li>
                          <li><a href="{% url 'magazines' %}">All Magazine</a></li>
                          <li><a href="{% url 'journals' %}">All Journal</a></li>
                          <li><a href="{% url 'cartname' %}">Cart</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4">
                          <h4>Visit Us</h4>
              							<h6>Find us on Facebook</h6>
              							<a href="https://www.facebook.com/ieeeuet/"><p class="text-primary">IEEE UET</p></a>
              							<h6>Find us on Instagram</h6>
              							<a href="https://www.instagram.com/ieee_uet/?hl=en"><p class="text-primary">IEEE UET</p></a>
              						</div>
          </div>
      </div>
      <div class="copy-right">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h5>(C) 2020. IEEE SIGHT LIBRARY powered by IEEE UET Student Branch </h5>
                  </div>
                  <div class="col-md-6">
                      <div class="share align-middle">
                          <span class="fb"><i class="fa fa-facebook-official"></i></span>
                          <span class="instagram"><i class="fa fa-instagram"></i></span>
                          <span class="twitter"><i class="fa fa-twitter"></i></span>
                          <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                          <span class="google"><i class="fa fa-google-plus"></i></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
