{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</div>

		<div class="container-fluid breadcrumbBox text-center">
			<ol class="breadcrumb">

				<li class="active"><a href="#">Order</a></li>

			</ol>
		</div>

		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart"></div>
				<h1>Your shopping cart</h1>
				<p>
					This is a free and <b><a href="http://tutorialzine.com/2014/04/responsive-shopping-cart-layout-twitter-bootstrap-3/" title="Read the article!">responsive shopping cart layout, made by Tutorialzine</a></b>. It looks nice on both desktop and mobile browsers. Try it by resizing your window (or opening it on your smartphone and pc).
				</p>
			</div>

			<div class="col-md-7 col-sm-12 text-left">

				<ul>
					<li class="row list-inline columnCaptions">
						<span>ITEM</span>
						<span>Price</span>
					</li>


					{%for item in cartitems%}
					<li class="row">
						<span class="itemName">{{item.title}}</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">{{item.pub_name}}</span>
					</li>
					{% endfor %}

				</ul>
			</div>

		</div>

		<!-- The popover content -->

		<div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		 </div>

{% endblock %}
