{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}



<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</div>

    <div class="container">
        <h2> Your cart</h2>
      <br />
      <div class="col-md-7 col-sm-12 text-left">


        <ul class="list-group mb-3">
            {%for item in cartitems%}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{item.title}}</h6>
                    <small class="text-muted">{{item.pub_name}}</small>
                  </div>
                  <span class="images">Free </span>

                  <div class="col-4">
                   <a href="{{item.library_Id}}/removeitem" class="btn black">REMOVE</a>
                   </div>
                </li>


            {% endfor %}
            <br />
            <a class="btn btn-primary btn-lg btn-block" href= "{% url 'checkout' %}">Checkout</a>
        </ul>
        {% for item in notavailable %}
        <h2>{{heading}}</h2>
        <p>{{item.title}}</p>
        <br />
        {% endfor %}

      </div>


    </div>

    <!-- The popover content -->

    <div id="popover" style="display: none">
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
     </div>



{% endblock %}
