{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
        <span class="breadcrumb-item active">{{product.title}}</span>
    </div>
</div>
<section class="product-sec">
        <div class="container">
            <h1>{{product.title}}</h1>
            <div class="row">
                <div class="col-md-6 slider-sec">
                    <!-- main slider carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{product.Image.url}}" class="img-fluid">
                            </div>

                        </div>
                        <!-- main slider carousel nav controls -->

                    </div>
                    <!--/main slider carousel-->
                </div>
                <div class="col-md-6 slider-content">
                    <ul>
                        <li>
                            <h6 class="name"><b>Available Copies:</b>{{product.copies}}</h6>
                            <br />
                            <h6 class="name"><b>Publisher:</b>{{product.pub_name}} </h6>
                        </li>

                    </ul>
                    <div class="btn-sec">
                      <a href="{{product.pdf.url}}" class="btn">Get PDF</a>
                      <a href="{{product.library_Id}}/addtocart" class="btn black">Add To cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
