{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}



<div class="container">
    <h2>IEEE SIGHT LIBRARY SLIP</h2>
        {%for person in personinfo %}
    <table class="pb-20">
    <tr>
      <td><i><b>Username:</b>{{user.username}}</i></td>
      <td></td>
      <td><i><b>Checkout Date:</b>{{checkoutdate}}</i></td>
      <td></td>
      <td><i><b>Return Date:</b>{{returndate}}</i></td>
    </tr>
  </table>
  {% endfor %}
  <br />
  <ul class="list-group mb-3">
      {% for item in sliplist %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{item.title}}</h6>
            </div>
            <span class="images">Free</span>
          </li>
        {% endfor %}
    </ul>
  </div>

{% endblock %}
